body {
    font-family: Arial, sans-serif;
    background-color: #9abb7a;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

h1 {
    color: #fff;
}

input, button {
    padding: 10px;
    margin: 5px;
    font-size: 16px;
}

#task-list {
    list-style-type: none;
    padding: 0;
}

#task-list li {
    background-color: #fff;
    margin: 5px 0;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    cursor: pointer;
}

#task-list li:hover {
    background-color: #f9f9f9;
    text-decoration: line-through;
}

button {
    background-color: #d400ff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #b30086;
}
